@model ComplantSystem.Models.InputCompmallintVM




@{
    ViewData["Title"] = "تقديم شكوى";

}


<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card mb-4">
        <h5 class="card-header">تقديم الشكوى  </h5>
        <!-- Account -->
        @*<div class="card-body">
                <div class="gap-4 d-flex align-items-start align-items-sm-center">

                    <div class="button-wrapper">


                    </div>
                </div>
            </div>*@
        <hr class="my-0" />
        <div class="card-body">


            <form asp-action="Create" enctype="multipart/form-data">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="TitleComplaint" class="form-label">عنوان الشكوى</label>
                            <input asp-for="TitleComplaint" class="form-control" type="text" id="TitleComplaint" placeholder="عنوان الشكوى" autofocus />
                            <span asp-validation-for="TitleComplaint" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="DescComplaint" class="form-label">محتوى الشكوى</label>
                            <textarea asp-for="DescComplaint" class="form-control" type="text" id="DescComplaint" placeholder="وصف الشكوى"></textarea>
                            <span asp-validation-for="DescComplaint" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="PropBeneficiarie" class="form-label"> الحل المقترح</label>
                        <input asp-for="PropBeneficiarie" class="form-control" type="text" id="PropBeneficiarie" placeholder="وصف الشكوى" />
                        <span asp-validation-for="PropBeneficiarie" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">نوع الشكوى</label>

                        <select asp-for="TypeComplaintId" asp-items="ViewBag.TypeComplaints" class="form-control form-control-chosen" data-placeholder="Please select...">
                        </select>
                        <span asp-validation-for="TypeComplaintId" class="text-danger"></span>
                    </div>

                    @*<div class="col-md-6 mb-3">
                            <label class="form-label" for="country">المحافظة</label>

                            <select asp-for="GovernorateId" id="ddGovernorates" asp-items="ViewBag.Governorates" class="form-control form-control-chosen" data-placeholder="Please select...">
                            </select>
                            <span asp-validation-for="GovernorateId" class="text-danger"></span>
                        </div>*@

                <div class="col-md-6 mb-4">
                    <label for="select2Basic" class="form-label">المحافظة</label>

                    <select asp-for="GovernorateId" asp-items="@(new SelectList(Model.Governorates,"Id","Name"))" class="form-control form-control-chosen" data-placeholder="Please select...">
                        <option>--قم بالإختيار--</option>
                    </select>
                    @*@Html.DropDownListFor(m => m.GoveId, Model.Governorates, "Please select", new { onchange = "document.forms[0].submit();" })*@

                </div>


                    <div class="col-md-6 mb-3">
                        <label class="form-label">المديرية</label>
                        <select class="form-control directorate">
                            <option>--قم بالإختيار--</option>
                        </select>


                        <span asp-validation-for="GovernorateId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">العزلة</label>
                        <select class="form-control ">
                            <option>--قم بالإختيار--</option>
                        </select>
                        @*@Html.DropDownListFor(m => m.SubDireId, Model.SubDirectorates, "Please select", new { onchange = "document.forms[0].submit();", disabled = "disabled" })*@

                        <span asp-validation-for="DirectorateId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">القرية</label>
                        <select asp-for="VillageId" id="Village" asp-items="ViewBag.Villages" class="select2 form-select" data-allow-clear="true">
                            <option>--قم بالإختيار--</option>

                        </select>
                        <span asp-validation-for="VillageId" class="text-danger"></span>
                        @*@Html.DropDownListFor(m => m.VillId, Model.Villages, "Please select", new { onchange = "document.forms[0].submit();", disabled = "disabled" })*@

                    </div>

                    <div class="col-md-6 mb-3">
                        @*<div class="custom-file">
                            <label class="form-label"> إرفاق صورة ان وجد</label>
                            <input asp-for="File" onchange="fileChange()" type="file" class="custom-file-input" id="customFile">
                            <label asp-for="File" id="custom-file-label" class="custom-file-label btn-outline-primary" for="customFile">اختر ملف </label>
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <div class="custom-file">
                                <input asp-for="File" onchange="fileChange()" type="file" class="custom-file-input" id="customFile">
                                <label asp-for="File" id="custom-file-label" class="custom-file-label btn-outline-primary" for="customFile">إرفاق ملف ان وجد</label>
                                <span asp-validation-for="File" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-4 offset-4 text-center">
                    <img width="100%" id="AnnexPreview" />
                </div>

                <div class="mt-2">
                    <button type="submit" value="Upload" class="btn btn-primary me-2">إضافة الشكوى </button>
                    <button type="reset" class="btn btn-label-secondary">إلغاء</button>
                </div>
            </form>

        </div>

        <!-- / Content -->

    </div>
</div>



@*@section Scripts {
        @{await Html.RenderPartialAsync("_Layout");}
    }*@

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
            $("#Annex").on("change", function () {
                var output = document.getElementById("AnnexPreview");
                output.src = $(this).val();
            })
    </script>

    <script>

        $(".governorate").change(function () {
            let id = $(".governorate option:selected").val();
            $.ajax({
                url: "/UploadsComplainte/GetDirectorates",
                type: "GET",
                data: { GovernorateId: id },
                success: function (data) {
                    let items = '';
                    $.each(data, function (i, directorate) {
                        items += '<option value="' + directorate.value + '">' + directorate.text + "</option>";
                    });
                    $(".directorate").html(items);
                }
            })
        })


            < script >
            function fileChange() {
                var ele = document.getElementById("customFile"); //Input File
                var name = ele.files.length > 0 ? ele.files[0].name : "Choose File";
                document.getElementById("custom-file-label").innerText = name;
            }
    </script>


    </script>
}
