
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Beneficiarie/Views/Shared/_Layout.cshtml";
}





<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="breadcrumb-wrapper py-3 mb-4">
        <span class="text-muted fw-light">إدارة النظام    /</span> إدارة الشكاوي
    </h4>
    @if (User.Identity.IsAuthenticated)
    {

        <h1>@User.Identity.Name </h1>
    }

    </div>

