@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4">
            <span class="text-muted fw-light">الملف الشخصي  /</span> الحساب
        </h4>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="SetingProfile" asp-action="Profile"><i class="bx bx-user me-1"></i> الملف الشخصي</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-controller="SetingProfile" asp-action="EditeProfile"><i class="bx bx-user me-1"></i> الحساب</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="SetingProfile" asp-action="Chenginpassword"><i class="bx bx-lock-alt me-1"></i> الأمان</a>
                    </li>

                </ul>
                <div class="card mb-4">
                    <h5 class="card-header">مدراء المحافظة</h5>
                    <!-- Account -->
                    <div class="card-body">
                        <div class="gap-4 d-flex align-items-start align-items-sm-center">
                            <img src="../../assets/img/avatars/1.png"
                                 alt="user-avatar"
                                 class="d-block rounded"
                                 height="100"
                                 width="100"
                                 id="uploadedAvatar" />
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">إدراج صورة</span>
                                    <i class="bx bx-upload d-sm-none d-block"></i>
                                    <input type="file"
                                           id="upload"
                                           class="account-file-input"
                                           hidden
                                           accept="image/png, image/jpeg" />
                                </label>
                                <button type="button" class="btn btn-label-secondary account-image-reset mb-4">
                                    <i class="bx bx-reset d-sm-none d-block"></i>
                                    <span class="d-none d-sm-block">حذف</span>
                                </button>


                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <form id="formAccountSettings" method="POST" onsubmit="return false">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName" class="form-label">الاسم</label>
                                    <input class="form-control"
                                           type="text"
                                           id="firstName"
                                           name="الاسم"
                                           value="الاسم"
                                           autofocus />
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName" class="form-label">رقم الموظف</label>
                                    <input class="form-control" type="text" name="lastName" id="lastName" value="005847 " />
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="email" class="form-label">الرقم الوطني</label>
                                    <input class="form-control"
                                           type="text"
                                           id="email"
                                           name="الرقم الوطني"
                                           value="548452215552 "
                                           placeholder="john.doe@example.com" />
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="organization" class="form-label">الصلاحيات</label>
                                    <input type="text"
                                           class="form-control"
                                           id="organization"
                                           name="الصلاحيات"
                                           value="الصلاحيات" />
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="phoneNumber">رقم التلفون</label>
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">YE (+967)</span>
                                        <input type="text"
                                               id="phoneNumber"
                                               name="phoneNumber"
                                               class="form-control"
                                               placeholder="202 555 0111" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="address" class="form-label">الفعالية</label>
                                    <input type="text" class="form-control" id="address" name="address" placeholder="نشط" />
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="state" class="form-label">تاريخ الانشاء</label>
                                    <input class="form-control" type="text" id="state" name="state" placeholder="19/05/2022" />
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="zipCode" class="form-label">اسم منشئ الحساب</label>
                                    <input type="text"
                                           class="form-control"
                                           id="zipCode"
                                           name="zipCode"
                                           placeholder="الاسم"
                                           maxlength="6" />
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="country">المحافظة</label>
                                    <select id="country" class="select2 form-select">
                                        <option value="">تحديد</option>
                                        <option value="Australia">تعز</option>
                                        <option value="Bangladesh">صنعاء</option>
                                        <option value="Belarus">عمران</option>
                                        <option value="Brazil">المحويت</option>
                                        <option value="Canada">اب</option>
                                        <option value="China">المهرة</option>
                                        <option value="France">حضرموت</option>
                                        <option value="Germany">صعدة</option>
                                        <option value="India">ذمار</option>
                                        <option value="Indonesia">عدن</option>
                                        <option value="Israel">البيضاء</option>
                                        <option value="Italy">الضالع</option>
                                        <option value="Japan">الحديدة</option>
                                        <option value="Korea">أمانة العاصمة</option>
                                        <option value="Mexico">ابين</option>
                                        <option value="Philippines">مأرب</option>
                                        <option value="Russia">شبوة</option>
                                        <option value="South Africa">الجوف</option>
                                        <option value="Thailand">ريمة</option>
                                        <option value="Turkey">حجة</option>
                                        <option value="Ukraine">لحج</option>

                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="language" class="form-label">المديرية</label>
                                    <select id="language" class="select2 form-select">
                                        <option value="">تحديد</option>
                                        <option value="en">السبعين</option>
                                        <option value="fr">الوحدة</option>
                                        <option value="de">شعوب</option>
                                        <option value="pt">التحرير</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="timeZones" class="form-label">العزلة</label>
                                    <select id="timeZones" class="select2 form-select">
                                        <option value="">تحديد</option>
                                        <option value="-12">عزلة 888</option>
                                        <option value="-11">عزلة 888</option>
                                        <option value="-10">عزلة 888</option>
                                        <option value="-9">عزلة 888</option>
                                        <option value="-8">عزلة 888</option>
                                        <option value="-8">عزلة 888</option>
                                        <option value="-7">عزلة 888</option>
                                        <option value="-7">عزلة 888</option>
                                        <option value="-6">عزلة 888</option>
                                        <option value="-6">عزلة 888</option>
                                        <option value="-6">عزلة 888</option>
                                        <option value="-6">عزلة 888</option>
                                        <option value="-5">عزلة 888</option>
                                        <option value="-5">عزلة 888</option>
                                        <option value="-5">عزلة 888</option>
                                        <option value="-4">عزلة 888</option>
                                        <option value="-4">عزلة 888</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="currency" class="form-label">القرية</label>
                                    <select id="currency" class="select2 form-select">
                                        <option value="">تحديد</option>
                                        <option value="usd">الهجرة</option>
                                        <option value="euro">سنحان</option>
                                        <option value="pound">ضبعات</option>
                                        <option value="bitcoin">بني حشيش</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-2">حفظ التغير</button>
                                <button type="reset" class="btn btn-label-secondary">إلغاء</button>
                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>

            </div>
        </div>
    </div>
    <!-- / Content -->

    <div class="content-backdrop fade"></div>
</div>
